$fontFamily: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans',
  sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

$colorPen: #000;
$colorPenLight: #424750;
$colorBody: #fff;
$colorBodyDark: #f4f4f4;
$colorGrayMid: #818286;
$colorGrayMidDark: #696a6d;
$colorGrayLight: #b0b1b5;
$colorGrayDark: #aaadb2;

$textTiny: '0.625rem';
$textXs: '0.75rem';
$textSm: '0.875rem';
$textNormal: '0.935rem';
$textBase: '1rem';
$textLg: '1.125rem';
$textXl: '1.25rem';
$textH6: '1.35rem';
$textH5: '1.4rem';
$textH4: '1.45rem';
$textH3: '1.5rem';
$textH2: '1.6rem';
$text2Xl: '1.5rem';
$text3Xl: '1.875rem';
$text4Xl: '2.25rem';
$text5Xl: '3rem';
$text6Xl: '4rem';

